<div>
    @if (!isAdminLoggedIn && !isStudentLoggedIn) {
        <mat-toolbar color="primary" class="navbar">
            <span class="navbar-brand">Not LoggedIn!!!</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
        </mat-toolbar>
    }
</div>
<div>
    @if (isAdminLoggedIn) {
        <mat-toolbar color="primary" class="navbar">
            <span class="navbar-brand">Admin Role</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
            <button mat-button routerLink="/admin/student" routerLinkActive="active">Post Student</button>
            <button mat-button routerLink="/admin/students" routerLinkActive="active">Students</button>
            <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
        </mat-toolbar>
    }
</div>

<div>
    @if (isStudentLoggedIn) {
        <mat-toolbar color="primary" class="navbar">
            <span class="navbar-brand">Student Role</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/student/dashboard" routerLinkActive="active">Dashboard</button>
            <button mat-button routerLink="/student/leave" routerLinkActive="active">Leave</button>
            <button mat-button routerLink="/student/leaves" routerLinkActive="active">My Leave</button>
            <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
        </mat-toolbar>
    }
</div>

<router-outlet></router-outlet>